body {
  background-color: #d4dfec;
  margin: 0; 
}

.auth-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #dc8e8e;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8; 
  color: #333; 
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  margin-bottom: 10px;
  transition: border-color 0.3s ease; 
}

input:focus {
  border-color: #66afe9;
}

button {
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

.password-input {
  position: relative;
}

.password-input input {
  padding-right: 30px;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888; 
  transition: color 0.3s ease; }

.password-icon:hover {
  color: #555; 
}
.signup-text {
  display: inline-block;
  margin-left: 250px;
  font-size: 15px;
  cursor: pointer;
  color: #4caf50; 
}

.signup-text:hover {
  text-decoration: underline;
}